<div class="content">
  <table class="table list-table">
    <colgroup>
      <col width="35px" />
      <col />
      <col width="100px" />
      <col width="100px" />
      <col width="100px" />
      <col width="100px" />
      <col width="100px" />
    </colgroup>
    <caption>
      <a class="btn btn-default" onclick="selectAll('check[]')">
        <i class="fa fa-check"></i>全选
      </a>

      <form name="searchstudent" action="{url:/}" method="get" class="pull-right form-inline" style="margin:0">
        <input type='hidden' name='controller' value='students' />
        <input type='hidden' name='action' value='student_search' />
        <select class="form-control" name="search">
          <option value="s.name">姓名</option>
          <option value="u.phone">手机</option>
        </select>
        <input class="form-control" name="keywords" type="text" value="{$keywords}" />
        <button class="btn btn-default" type="submit">
          <i class="fa fa-search"></i>搜 索
        </button>
      </form>
    </caption>
    <thead>
      <tr>
        <th></th>
        <th>姓名</th>
        <th>性别</th>
        <th>电话</th>
        <th>家长电话</th>
        <th>年级</th>
        <th>微信</th>
      </tr>
    </thead>
    <form action="" method="post" name="studentForm" onsubmit="return checkboxCheck('check[]','尚未选中任何记录！')">
      <tbody>
        {foreach:items=$this->query->find()}
        <tr>
          <td>
            <input name="check[]" type="checkbox" value="{$item['id']}" />
          </td>
          <td>{$item['name']}</td>
          <td>{if:$item['sex']==0}男{else:}女{/if}</td>
          <td>{$item['phone']}</td>
          <td>{$item['parents_phone']}</td>
          <td>{$item['grade']}</td>
          <td>{$item['wechat']}</td>
        </tr>
        {/foreach}
      </tbody>
    </form>
  </table>
</div>
{$this->query->getPageBar()}

<script language="javascript">
  //预加载
  $(function () {
    var formObj = new Form('searchstudent');
    formObj.init({
      'search': '{$search}'
    });
  })
</script>